<h1>Fase Lunar</h1>
<p>La fase lunar de hoy es <%= @phase %> => día <%= @date %></p>

<p>añadir planta</p>

<p>mostrar tareas en función de la luna y del día</p>

<p></p>

<%= link_to "Fase lunar", moon_phases_path %>
