<h1> MI JARDINERO </h1>

Objetivo: conocer los cuidados de las plantas en función de la fase lunar

<p><%= link_to "Fases lunares", moon_phases_path %></p>
<h2><%= render "moon/today_moon" %></h2>

<p> ->>> falta instalar Device <<<- </p>
<p><%= link_to "Accede a tu cuenta", new_api_user_path %>
<%= link_to "Regístrate", new_api_user_path %></p>

<ul>
Cosas que quiero añadir:
<li>Poder añadir registros (trabajo|Fecha|Planta|Notas)</li>
<li>Enfermedades (tratamientos: probados)</li>
</ul>